/*
 * App CUSTOM theme SCSS
 * ----------------------------------------------------------------------------
 * Place here custom styles.
 */

/*
 * Light Theme
 * -------------------------------------------
 */
 
:root {

    ion-item {
        --border-style: none !important;
     }

     ion-header ion-toolbar {
        --border-width: 0;
        --border-color: #fff;
    }
}

/*
 * Dark Theme
 * -------------------------------------------
 */
:root body.dark {

}
